name: WordPress Update
on:
  schedule:
    - cron: '0 0 * * *'  # Runs daily at midnight UTC
  workflow_dispatch:
jobs:
  update-wordpress:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          composer install --prefer-dist --no-progress --no-dev
      - name: Install Terminus
        uses: pantheon-systems/terminus-github-actions@v1
        with:
          pantheon-machine_token: ${{ secrets.TERMINUS_TOKEN }}
      - name: Configure Git
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"
      - name: Install WP-CLI
        uses: godaddy-wordpress/setup-wp-cli@1
      - name: Add SSH Key to SSH Agent
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Set up host keys for Pantheon
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa        
          echo "Host *.pantheon.io *.drush.in *.getpantheon.com *.panth.io" >> "$HOME/.ssh/config"
          echo "StrictHostKeyChecking no" >> "$HOME/.ssh/config"
          echo "HostKeyAlgorithms +ssh-rsa" >> "$HOME/.ssh/config"
      - name: Check for WordPress updates
        id: check_wp
        env:
          SITE_ID: cxr-jazzsequence-fair
          WP_PATH: ${{ github.workspace }}
          TERMINUS_TOKEN: ${{ secrets.TERMINUS_TOKEN }}
        run: .github/workflows/bin/check-wp-version.sh
      - name: Open pull request to FAIR repo via gh
        env:
          GH_TOKEN: ${{ secrets.FAIR_REPO_TOKEN }}
        if: steps.check_wp.outputs.updates_available == 'true'
        run: |
          cd ${{ github.workspace }}
          CHANGES_DEFINED=false
          PREFIX="update-wp-version-"
          CHANGED_FILES="${{ steps.check_wp.outputs.changed_files }}"
          BASE="main"

          # Check if wp-includes/version.php was changed. If so, a WordPress update occurred.
          if ! echo "$CHANGED_FILES" | grep -q "wp-includes/version.php"; then
            echo "No WordPress update detected in changed files."
          else
            echo "WordPress update detected in changed files."
            TITLE="Update WordPress to version ${{ steps.check_wp.outputs.current_wp_version }}"
            BODY="Automated update of WordPress to version ${{ steps.check_wp.outputs.current_wp_version }}."
            BRANCH="${PREFIX}${{ steps.check_wp.outputs.current_wp_version }}-$(date +%Y%m%d)"
            CHANGES_DEFINED=true
          fi

          # If the update was detected in a plugin, extract the plugin name for the branch and PR content.
          for FILE in $CHANGED_FILES; do
            if [[ $FILE == wp-content/plugins/* ]]; then
              if [[ $(basename "$FILE") == composer.lock || $(basename "$FILE") == composer.json ]]; then
                continue
              fi
              echo "Plugin update detected in changed files."
              PLUGIN_NAME=$(echo "$FILE" | cut -d'/' -f3)
              TITLE="Update WordPress plugin '$PLUGIN_NAME' to latest version"
              BODY="Automated update of WordPress plugin '$PLUGIN_NAME' to latest version."
              BRANCH="${PREFIX}plugin-${PLUGIN_NAME}-update-$(date +%Y%m%d)"
              CHANGES_DEFINED=true
              break
            fi
          done

          # If the update was detected in a mu-plugin, extract the mu-plugin name for the branch and PR content.
          for FILE in $CHANGED_FILES; do
            if [[ $FILE == wp-content/mu-plugins/* ]]; then
              if [[ $(basename "$FILE") == composer.lock || $(basename "$FILE") == composer.json ]]; then
                continue
              fi
              echo "Mu-plugin update detected in changed files."
              MU_PLUGIN_NAME=$(echo "$FILE" | cut -d'/' -f3)
              TITLE="Update WordPress mu-plugin '$MU_PLUGIN_NAME' to latest version"
              BODY="Automated update of WordPress mu-plugin '$MU_PLUGIN_NAME' to latest version."
              BRANCH="${PREFIX}mu-plugin-${MU_PLUGIN_NAME}-update-$(date +%Y%m%d)"
              CHANGES_DEFINED=true
              break
            fi
          done

          # Check if there are any other changes.
          if [ -n $(git status --porcelain) ]; then
            echo "A miscellaneous WordPress component update was detected."
            TITLE="Update WordPress components to latest versions"
            BODY="Automated update of WordPress components to latest versions. Updated files:\n\n$CHANGED_FILES"
            BRANCH="${PREFIX}misc-updates-$(date +%Y%m%d)"
            CHANGES_DEFINED=true
          fi

          # No changes detected. Bailing.
          if [[ $CHANGES_DETECTED="false" ]]; then
            echo "No changes to commit. Exiting workflow."
            exit 0
          fi

          # Check if the branch already exists.
          git fetch origin --prune
          if git ls-remote --exit-code --heads origin "${BRANCH}" >/dev/null; then
            echo "Branch ${BRANCH} already exists. Deleting existing branch."
            git push origin --delete "${BRANCH}" 
          fi

          # Create and switch to the update branch
          git checkout -B "${BRANCH}"
          # Commit the changes
          git add .
          git commit -m "${TITLE}"
          # Push the update branch so the PR can target it
          git push origin "${BRANCH}"

          # Close any existing PRs with the same prefix
          gh pr list \
            --repo jazzsequence/fair-repo \
            --state open \
            --json number,headRefName \
            --jq '.[] | select(.headRefName | startswith("'${PREFIX}'")) | .number' | \
            xargs -r -I {} gh pr close {} --repo jazzsequence/fair-repo -c "Superseded by ${TITLE} ${BRANCH}"
          # Create new PR
          gh pr create \
            --repo jazzsequence/fair-repo \
            --title "${TITLE}" \
            --body "${BODY}" \
            --head "${BRANCH}" \
            --base "${BASE}"
